@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  position: relative;
}

.container_fluid {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #343a40;
}

li {
  list-style: none;
  padding: 0 12px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;
  font-weight: 500;
}

li:hover {
  color: #3a74d1;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/></svg>');
  background-repeat: no-repeat;
  background-size: 16px 17px;
  background-position: 230px 13px;
  outline: none !important;
}

input[type="range"].range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #3a74d1;
}

/* Hamburger menu styles */
.hamburger-menu {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.bar {
  width: 30px;
  height: 3px;
  background-color: #000; /* Adjust color as needed */
  margin: 6px 0;
  transition: 0.4s;
}

/* Menu styles */
.menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 70%;
  height: 100%;
  background-color: #fff; /* Adjust background color as needed */
  transition: 0.4s;
  z-index: 1;
  padding: 20px;
}

.menu > li {
  list-style: none;
  margin: 20px 0;
  font-size: 18px; /* Adjust font size as needed */
}

table td {
  padding: 12px 0;
}

.active {
  background-color: #f8faff;
  border-radius: 8px;
  color: #1e437e;
  font-weight: 700;
}

@media (max-width: 768px) {
  .container_fluid {
    max-width: 100%;
    padding: 0 10px;
  }

  select {
    background-position: right 13px;
  }
}
